<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <meta name="author" content="{{ site.author.name }}">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link href="{{ ASSET_PATH }}/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="{{ ASSET_PATH }}/css/style.css?body=1" rel="stylesheet" type="text/css" media="all">
    <link href="{{ ASSET_PATH }}/css/sidebar.css" rel="stylesheet" type="text/css" media="all">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel='stylesheet' type='text/css'>
    
    <link href='//fonts.googleapis.com/css?family=Nunito:300' rel='stylesheet' type='text/css'>

    <!-- jQuery -->
    <script async src="{{ ASSET_PATH }}/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script async src="{{ ASSET_PATH }}/js/bootstrap.min.js"></script>

    <!-- Le fav and touch icons -->
  <!-- Update these with your own images
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
  -->
  </head>

  <body>
    <div id="wrapper">
      <div id="sidebar-wrapper">
        <ul class="list-unstyled">
          <li>
          <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
          <a href="{{ BASE_PATH }}/">Home</a>
        </li>
        
        {% if site.author.about %}<li>
          <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
          <a href="{{ BASE_PATH }}/about/">About me</a>
        </li>{% endif %}
        {% if site.author.resume %}<li>
          <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
          <a href="{{ BASE_PATH }}/{{ site.author.resume }}">Resume</a>
        </li>{% endif %}

        <li>
          <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
          <a href="mailto:{{ site.author.email }}">{{ site.author.email }}</a>
        </li>
        <li>
          <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
          <a href="https://github.com/{{ site.author.github }}">github.com/{{ site.author.github }}</a>
        </li>
        <li>
          <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
          <a href="https://twitter.com/{{ site.author.twitter }}">@{{ site.author.twitter }}</a>
        </li>
        </ul>
      </div>

      <div id="page-content-wrapper">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <nav class="navbar navbar-default" role="navigation">
                <div class="navbar-header">
                  <a class="navbar-brand" href="{{ BASE_PATH }}">{{ site.title }}</a>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    {% assign pages_list = site.pages %}
                    {% assign group = 'navigation' %}
                    {% include JB/pages_list %}
                </ul>
              </nav>
    
              <div class="content">
                {{ content }}
              </div>
          
              <hr />

              <footer class="text-center">
                <p>Copyright &copy; {{ site.author.name }} 2014.
				   <br />
				   Powered by <a href="http://jekyllbootstrap.com" target="_blank" title="The Definitive Jekyll Blogging Framework">Jekyll Bootstrap</a> and <a href="http://twitter.github.com/bootstrap/" target="_blank">Twitter Bootstrap</a>.
                </p>
              </footer>
            </div>
          </div>
        </div>
      </div>
    </div> 
    {% include JB/analytics %}
  </body>
</html>

